{% extends "agent_base.html" %}
{% block title %}password{% endblock %}
<!--INFACT, YOU CAN ADD A WHOLE NEW HTML IN THS TAG-->
{% block agent_body %}
<div class="body">
    <div class="banner_log">
        <h2 class="message"></2>
        <h2 class="message_log">Change Password</2>
    </div>
    {%if error_message%}
    <p class="alerted">{{error_message}}</p>
    {%endif%}
    <div class="inputs_log">
        <form action="/change_pass" method="post">
        <p class="user">Current Password</p>
        <input type="text" class="email" name="old_password" placeholder="Current Password" id="old_password" required>
        <p class="user">New Password</p>
        <input type="text" class="email" name="user_password" placeholder="New Password" id="user_password" required>
        <p class="user">Verify Password</p>
        <input type="text" class="email" name="confirm_password" placeholder="Re-enter password" id="confirm_password" required>
        <input type="submit" class="signin" value="Save password">
    </form>
    </div>
    </div>
{%endblock%}