{% extends "agent_base.html" %}
{% block title %}Mlimi Digital{% endblock %}
<!--INFACT, YOU CAN ADD A WHOLE NEW HTML IN THS TAG-->
{% block agent_body %}
<div class="body">
    <div class="banner">
        <h2 class="message">Mlimi Digital</h2>
        <h2 class="message">Management System</h2>
    </div>
    <div class="inputs">
        <a href="/login"><input type="button" class="signin" value="Sign in"></a>
        <a href="/login"><input type="button" class="activate" value="Forgot Password &#10142"></a>
    </div>
    </div>
{%endblock%}